body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.left h1 {
  font-size: 40px;
}

.name-color{
  color: #ff4400;
}

.right img {
  width: 100%;
}

.container {
  display: flex;
  padding: 2% 5%;
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}

.left p{
  text-align: justify;
}

.left {
  width: 50%;
  padding-right: 2%;
}

.right {
  width: 50%;
}